<!DOCTYPE html>
<html>
<head>
    <title>Cargar Archivo Excel</title>
</head>
<body>

	<div class="text-center mt-3">
	    <a href="{% url 'descargar_archivo_tipo' %}" class="btn btn-secondary">
	        Descargar Archivo Tipo
	    </a>
	</div>

    <h1>Cargar Archivo Excel de Remuneraciones</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cargar Archivo</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>